/* Header Section */
.navbar img{
    width: 291.11px;
    height:39.27px;
}
#navbarNav{
    margin-left: 28.937rem;
}
.row img{
    height:27.44rem;
    width:30.44rem;
}
#banner{
    padding-left:9rem;
}
.btn img{
    height:25px;
    width:25px;
}
